
/*http://blackrockdigital.github.io/startbootstrap-sb-admin/*/


.custom-button {
    background-color: #ffcc80;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.custom-button-primary {
    background: #ffcc80;
    color: white;
    border-radius: 5px;
    font-size: 120%;
    margin-left: 10px;
    text-decoration: none;
}

/*
 * -- SPLASH STYLES --
 * This is the blue section that appears on the page.
 */

.splash-container-blue {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: relative;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-weight: 100;
    padding: 0;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin-bottom: 30px;
}

.pure-menu-item {
    height: 5%;
}

.pure-menu-list {
    display: inline-block;
    background-color: black;
    height: 100%;
}

